<!--
	Travel Experts: The Website
	Registration Page
	
	Group: Ivan, Muhammad, Steven, Tom
	Page Author: Tom Hollis

	GLOBAL TODO: finish or clear all other todos
-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet" />

		<link rel="stylesheet" href="mystyle.css" />
		<link rel="stylesheet" href="register.css" />

		<title>Travel Experts</title>	

		<style>
			input {
				margin-top: 10px;
			}
		</style>

		<!-- Scripts for this page only -->
		<script src="login.js"></script>
			
		<!-- @TODO: onblur to fix data formatting on phone number and postal code		
		     @TODO: implement bootstrap as much as possible	-->
	</head>
	
	<body class="container-fluid">
		<%- include('navbar'); -%>
		<main class="row">
			<!-- @TODO: change this to a single div that gets placed near (but NOT over) the focused field
						can the "article" tag be col-8 and still float in the middle with 2 col spacing on the sides? -->
			<aside class="col-5">
				<!--cheesy spaceholder-->>
			</aside>

			<article class="col-2">
				<h2 class="artitle" style="text-align:center">Log In</h2>
				<form method="post" action="http://localhost:<%= port %>/doLogin">
					<input class="col-8" name="CustUsername" id="CustUsername" type="text" required="required" placeholder="Username"/>
					<input class="col-8" name="CustPassword" id="CustPassword" type="password" required="required" placeholder="Password" />
					<button type="submit" onclick="return checkData()">Log In</button>
				</form>
			</article>
		</main>

	</body>
</html>