<!-- Header/NavBar template by Muhammad, to EJS by Tom -->
    <header class="row">
      <h1 class="col-12" style="color:rgb(255, 255, 255);text-align:center;">
        <a><img
            src="logo1.png"
            title="our head office"
            alt="Travel Agency Logo"
            width="70"
            height="70"
        /></a>
        Travel Experts
      </h1>
    </header>

    <div class="row"> 
      <nav class="col-12 topnav">
        <a href="vacationPackagesUPDATED.html">Home</a>
        <a href="contacts.html">Contact Us</a>
        <a href="register.html">Create an Account</a>
        <a href="vacationPackages.html">Vacation Packages</a>
        <a href="http://hotels.com">Hotels</a> <br /><br />
      </nav>
    </div>
