<!-- Header/NavBar template by Muhammad, to EJS by Tom -->
    <!-- <header class="row"> -->
    <div class="row"> 
      <nav class="col-12 topnav">
        <a href="vacationPackagesUPDATED.html">Travel Experts</a>
        
        <a href="contacts.html">Contact Us</a>
        <a href="register.html">Create an Account</a>
        <div style="position:absolute; right:5px; vertical-align:middle">
          <% if (username) { %>
            <div style="float:right"><a href="logout.html">Log out</a></div>
            <div style="float:right;position:relative;top:20px">Logged in as <%= username %></div>
          <% } else { %>
            <div style="float:right"><a href="login.html">Log in</a></div>
            <div style="float:right;position:relative;top:20px">Log in to get away today!</div>
          <% } %>
        </div>
      </nav>
    </div>

    <!-- <script>
        window.onscroll = function() {navFunction()};
        
        var navbar = document.getElementById("topnav");
        var sticky = navbar.offsetTop;
        
        function navFunction() {
          if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
          } else {
            navbar.classList.remove("sticky");
          }
        }
        </script> -->