<!--
	Travel Experts: The Website
	Registration Page
	
	Group: Ivan, Muhammad, Steven, Tom
	Page Author: Tom Hollis

	GLOBAL TODO: finish or clear all other todos
-->

<!DOCTYPE html>
<html lang="en">

	<body>
		<h1>Hi <%= user %></h1>
	</body>
</html>