<!DOCTYPE html>

<html>
  <head>
	
	<link rel="stylesheet" type="text/css" href="mystyle.css">
	<script src="navBar.js"></script>
  
    <title>Vacation Packages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand:300,500"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="header">
      <h1 style="color:rgb(255, 255, 255);text-align:center;">
        <a
          ><img
            src="media/logo1.png"
            title="our head office"
            alt="Travel Agency Logo"
            width="70"
            height="70"
        /></a>
        Welcome to Travel Experts
      </h1>
    </div>

    <div class="topnav"> 
      <nav>
        <a href="Exercise1.html">Home</a>
        <a href="contact.html">Contact Us</a>
        <a href="register.html">Create an Account</a>
        <a href="vacationPackages.html">Vacation Packages</a>
        <a href="http://hotels.com">Hotels</a> <br /><br />
      </nav>
    </div>
	
	<form class="form-inline ml-auto" method="post" action="/post_form">
		<input class="form-control mr-sm-2" name="searchString" type="text" placeholder="Search">
		<button class="btn btn-success" type="submit">Search</button>
	</form>
	
	<footer>Copyright &copy; 2019</footer>
  </body>
</html>


