/*
	Travel Experts: The Website
	CSS for the registration page
	
	Group: Ivan, Muhammad, Steven, Tom
    Primary Page Author: Tom, Muhammad, Steven
*/

aside {
    text-align: center;
}
aside > p{ 
    visibility: hidden;
    float: left;
    clear: left;
    margin: 0px;
    width: 90%;
    padding-right: 2%;
}
fieldset{
    padding-left: 1%;
    padding-bottom: 1%;
    margin: 1%;
    display: block;
}
legend{
    position: relative;
    left: -1%;
}			
.formline{				
    vertical-align: center;
    
}

label{
    padding-left: 2%;
    text-align: left;
    
}
label.terms{
    padding-left: 0px;
}
input{
    padding-left: 10px;
    display: block;
    border: none;
    border-bottom: 1px solid #949494;
}
input#terms{
    width: 2%;
    float: left;
}

article{
    background-color:#ffffff;
    padding: 1%;
    text-align: justify;
}

.artitle{
    border-bottom: dotted;
    border-color: #dddddd;
    border-width: 1px;
    margin: 1%;
}

footer {
    padding: 1%;
    padding-bottom: 0.5%;
    color:rgb(255, 255, 255);
}

button {
    margin-top: 40px;
    margin-bottom: 20px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 200px;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  select{
      margin-bottom:15px;
  }
[type = "checkbox"]{
    margin-top: 6px;
}

